<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Document</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Agregar estilos.css-->
    <link href="stylesheets/estilos.css" rel="stylesheet">
  </head>
  <body>
      <header>
          <div class="container">
              <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="/">Home</a></li>
                <li role="presentation"><a href="/angular">Angular</a></li>
                <li role="presentation"><a href="/bootstrap">Bootstrap</a></li>
                <li role="presentation"><a href="/controller">Controller</a></li>
                <li role="presentation"><a href="/demo">Demo</a></li>
                <li role="presentation"><a href="/formulario">Formulario</a></li>
              </ul>
              <h1>Bootstrap <small>with Express.js</small></h1>
              <h2>Angular <spam class="small">is commin soon</small></h2>
          </div>
      </header>
      
      <div class="container">
          <!-- row crea filas-->
          <section class="main row">
          <!-- col crea columnas-->
              <article class="col-xs-12 col-sm-8 col-md-9">
                  <h3>Articulo-Article</h3>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse placerat, risus ut consequat interdum, neque neque venenatis est, et ullamcorper arcu quam at justo. Nam tempus ex eget dui ornare, ut volutpat sapien consectetur. Aliquam mattis ullamcorper accumsan. Donec eros urna, feugiat porta leo ut, tincidunt porttitor mi.
                  </p>
              </article>

              <aside class="col-xs-12 col-sm-4 col-md-3">
                  <h3>Sidebar-Aside</h3>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse placerat, risus ut consequat interdum, neque neque venenatis est, et ullamcorper arcu quam at justo. Nam tempus ex eget dui ornare, ut volutpat sapien consectetur. Aliquam mattis ullamcorper accumsan. Donec eros urna, feugiat porta leo ut, tincidunt porttitor mi.
                  </p>
              </aside>
          </section>
          
          <div class="row">
              <div class="color1 col-xs-12 col-sm-6 col-md-3">
                  <p>
                      <h3>Columna</h3>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse placerat, risus ut consequat interdum, neque neque venenatis est, et ullamcorper arcu quam at justo. Nam tempus ex eget dui ornare, ut volutpat sapien consectetur. Aliquam mattis ullamcorper accumsan. Donec eros urna, feugiat porta leo ut, tincidunt porttitor mi.
                  </p>         
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                  <h3>Columna</h3>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse placerat, risus ut consequat interdum, neque neque venenatis est, et ullamcorper arcu quam at justo. Nam tempus ex eget dui ornare, ut volutpat sapien consectetur. Aliquam mattis ullamcorper accumsan. Donec eros urna, feugiat porta leo ut, tincidunt porttitor mi.
                  </p>
              </div>
          <!--arregla errores, para acomodar la segunda y tercera columna si la primera tiene mas texto que las demas -->
        <!--  <div class="clearfix visible-sm-block"></div> -->
              
          <!-- offset desplaza 3 columnas a la derecha-->
              <div class="color1 col-xs-12 col-sm-6 col-md-3 col-md-offset-3">
                  <h3>Columna</h3>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse placerat, risus ut consequat interdum, neque neque venenatis est, et ullamcorper arcu quam at justo. Nam tempus ex eget dui ornare, ut volutpat sapien consectetur. Aliquam mattis ullamcorper accumsan. Donec eros urna, feugiat porta leo ut, tincidunt porttitor mi.
                  </p>
              </div>
        <!--      <div class="col-xs-12 col-sm-6 col-md-3">
                  <h3>Columna</h3>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse placerat, risus ut consequat interdum, neque neque venenatis est, et ullamcorper arcu quam at justo. Nam tempus ex eget dui ornare, ut volutpat sapien consectetur. Aliquam mattis ullamcorper accumsan. Donec eros urna, feugiat porta leo ut, tincidunt porttitor mi.
                  </p>
              </div> -->
          </div>
      </div>
    
    <footer>
        <div class="container">
            <h3>Monserrat</h3>
        </div>
    </footer>
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>



