<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulario Boots</title>
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Agregar estilos.css-->
    <link href="bootstrap/stylesheets/estilos.css" rel="stylesheet">
    <link href="bootstrap/stylesheets/styleImages.css" rel="stylesheet">
  </head>
  <body>
      
      <div class="container">
          
          <div class="header clearfix">
            <nav>
              <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="/">Home</a></li>
                <li role="presentation"><a href="/angular">Angular</a></li>
                <li role="presentation"><a href="/bootstrap">Bootstrap</a></li>
                <li role="presentation"><a href="/controller">Controller</a></li>
                <li role="presentation"><a href="/demo">Demo</a></li>
                <li role="presentation"><a href="/formulario">Formulario</a></li>
              </ul>
            </nav>
            <h3 class="text-muted">Formulario</h3>
          </div>
      </div>
      
      <div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 panel panel-default">

				<h1 class="margin-base-vertical">Formulario view</h1>
				
                      <form action="" class="">

                          <div class="form-group has-success"> 
                              <label for="nombre" class="control-label">Nombre: </label>
                              <input class="form-control" id="nombre" type="text" placeholder="Nombre:">
                          </div>

                          <div class="form-group has-warning"> 
                              <label for="apellido" class="control-label">Apellido: </label>
                              <input class="form-control" id="apellido" type="text" placeholder="Apellido:">
                          </div>

                          <div class="form-group has-error"> 
                              <label for="direccion" class="control-label">Direccion: </label>
                              <input class="form-control" id="direccion" type="text" placeholder="Direccion:">
                          </div>

                          <div class="form-group">
                              <label for="option">Elige una opcion:</label>
                              <select class="form-control" name="" id="option">
                                  <option value=""> Option #1</option>
                                  <option value=""> Option #2</option>
                                  <option value=""> Option #3</option>
                                  <option value=""> Option #4</option>
                                  <option value=""> Option #5</option>
                              </select>
                          </div>

                         <div class="form-group"> 
                             <label for="mensaje">Mensaje:</label>
                             <textarea class="form-control" id="mensaje" placeholder="Escribe tu mensaje"></textarea>
                         </div>     

                          <div class="form-inline">
                              <div class="form-group">
                              <label for="archivo">Archivo:</label>
                              <input type="file" id="archivo">
                              <p class="help-block">Maximo 50MB</p>
                          </div>
                          
                          <button class="color1 btn btn-primary col-md-offset-3">Enviar</button>
                          </div>
                  </form>

				<div class="margin-base-vertical">
					<small class="text-muted"><a href="../public/images/flowersTheme.jpg">Background picture by "/Images/flowerTheme" Downloaded of Google</a>. Used under Me?.</small>
				</div>

			</div><!-- //main content -->
		</div><!-- //row -->
	</div> <!-- //container -->
      
      
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>